{
  "ProtocolMagic": "FeKa",
  "ServerName": "NyNet Server",
  "Port": 27015,
  "MaxPlayers": 16,
  "IconPath": "",
  "AllowChatCommands": true,
  "VoteKickDuration": 30,
  "VoteKickThreshold": 0.6,
  "VoteKickRepeatDelay": 120,
  "KickRejoinCooldown": 20,
  "AnnounceJoin": true,
  "AnnounceLeave": true,
  "AnnounceKick": true,
  "AnnounceBan": true
}
